<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="bg-light">
<!-- Content Start -->
<th:block layout:fragment="content"></th:block>
<!-- content End -->

<!-- Bootstrap JS and dependencies -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
